@media (min-width: 768px) {
    main {
        padding: 40px 10%;
    }

    #menu-toggle {
        display: none; 
    }

    #navigation-menu {
        display: block; 
        position: static;
        width: auto;
        background: none;
        border: none;
        box-shadow: none;
    }

    #navigation-menu ul {
        flex-direction: row;
        gap: 20px;
    }

    #navigation-menu a {
        padding: 5px 0;
        border: none;
    }

    #navigation-menu a:hover, 
    #navigation-menu a.active {
        background: none;
        border-bottom: 2px solid var(--accent-color);
        padding-left: 0;
    }

    .hero-section {
        padding: 100px 40px;
    }

    .hero-overlay h1 {
        font-size: 3rem;
    }


    .recipe-card-featured {
        display: flex; 
        align-items: center;
        min-height: 300px;
    }

    .card-image-wrapper {
        flex: 1;
    }

    .card-content {
        flex: 1.5;
        padding: 40px;
    }

  
    .recipes-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        min-height: 350px;
    }
}